# Web Interface
streamlit>=1.25.0

requests

# Deep Learning Frameworks
torch>=2.0.0
transformers>=4.30.0

# Data Manipulation
pandas
numpy

# Visualization (optional, for EDA plots in app)
matplotlib
seaborn

# Standard library helpers
scikit-learn
bitsandbytes

accelerate>=0.26.0
